* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.container {
    width: 55%;
    height: 80%;
    display: grid;
    grid-template-columns: 57% 43%;
    background-color: #fff;
}


.container::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 66.2%;
    height: 2px;
    background-color: #000;
    z-index: 1;
}

.register_login {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

form {
    margin-top: 20px;
    position: relative;
}


.sign_in {
    display: none;
}

.form-description-label {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-description-label span {
    font-family: Arial, Helvetica, sans-serif;
}

.form-description-label span:first-child {
    font-size: 40px;
    font-weight: 600;
    word-break: inherit;
}

.form-description-label span:last-child {
    font-size: 20px;
    font-weight: 700;
}

.form-container form input {
    position: relative;
    margin: 10px 0 30px 0;
    border: none;
    padding-top: 5px;
    border-bottom: 2px solid #000;
    background: transparent;
    width: 100%;
    outline: none;
}


.form-container form label {
    font-weight: 700;
}


button {
    width: 40%;
    padding: 10px 5px;
    background: red;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
}

.toLogin, .toSignup {
    text-decoration-color: rgb(63, 8, 18);
    color: rgb(112, 16, 32);
}

.form-group {
    position: relative;
}

.show {
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.validation {
    position: absolute;
    right: 0;
    top: 0;
}

.validation span {
    position: absolute;
    right: 0;
    opacity: 0;
}


/* validate here */
input.valid + .validation .valid {
    opacity: 1;
    fill: green;
}
input.invalid + .validation .invalid {
    opacity: 1;
    fill: orange;
}


.entry-btn-box {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}



.social-links h3 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.social-links div a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 3px solid #000;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    float: right;
}

